@model DuoClassLibrary.Models.Exercises.Exercise

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-6">
            <h5>Question</h5>
            <p>@Model.Question</p>
        </div>
        <div class="col-md-3">
            <h5>Type</h5>
            <p>@Model.Type</p>
        </div>
        <div class="col-md-3">
            <h5>Difficulty</h5>
            <p>@Model.Difficulty</p>
        </div>
    </div>

    @if (Model is MultipleChoiceExercise mcExercise)
    {
        <div class="row">
            <div class="col-12">
                <h5>Choices</h5>
                <ul class="list-group">
                    @foreach (var choice in mcExercise.Choices)
                    {
                        <li class="list-group-item @(choice.IsCorrect ? "list-group-item-success" : "")">
                            @choice.Answer
                            @if (choice.IsCorrect)
                            {
                                <span class="badge bg-primary float-end">Correct</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else if (Model is FillInTheBlankExercise fitbExercise)
    {
        <div class="row">
            <div class="col-12">
                <h5>Correct Answers</h5>
                <ul class="list-group">
                    @foreach (var answer in fitbExercise.PossibleCorrectAnswers)
                    {
                        <li class="list-group-item">@answer</li>
                    }
                </ul>
            </div>
        </div>
    }
    else if (Model is AssociationExercise assocExercise)
    {
        <div class="row">
            <div class="col-12">
                <h5>Association Pairs</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>First Item</th>
                                <th>Second Item</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < assocExercise.FirstAnswersList.Count; i++)
                            {
                                <tr>
                                    <td>@assocExercise.FirstAnswersList[i]</td>
                                    <td>@assocExercise.SecondAnswersList[i]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (Model is FlashcardExercise flashcardExercise)
    {
        <div class="row">
            <div class="col-md-6">
                <h5>Correct Answer</h5>
                <p>@flashcardExercise.Answer</p>
            </div>
            <div class="col-md-6">
                <h5>Time Limit</h5>
                <p>@flashcardExercise.TimeInSeconds seconds</p>
            </div>
        </div>
    }
</div>